.test1 
  .block.block1.one 早上
  .block.block1.two 下午及傍晚
  .block.block1.three 夜裡
.test2
  .block.block2.two-one 步伐很大、頻率較快
  .block.block2.two-two 步伐很小、頻率較快
  .block.block2.two-three 走的不快、頭往上看
  .block.block2.two-four 走的不快、頭往下看
  .block.block2.two-five 很慢
.test3
  .block.block3.three-one 雙手交疊站立
  .block.block3.three-two 雙手緊握
  .block.block3.three-three 觸碰與你交談的對象
  .block.block3.three-four 不自覺摸著耳朵、下巴或是整理頭髮
.test4
  .block.block4.four-one 仰躺、伸直
  .block.block4.four-two 俯躺、伸直
  .block.block4.four-three 側躺、微捲
  .block.block4.four-four 頭睡在一側手臂上
  .block.block4.four-five 被子蓋過頭
.test5
  .block.block5.five-one 落下
  .block.block5.five-two 打架或掙扎
  .block.block5.five-three 找東西找人
  .block.block5.five-four 飛或漂浮
  .block.block5.five-five 平常不太做夢
  .block.block5.five-six 做夢都是愉快的夢

.test6
  .block.block6.six-one 膝蓋併攏
  .block.block6.six-two 雙腿交叉
  .block.block6.six-three 雙推伸直
  .block.block6.six-four 單腿盤在椅子上
.test7
  .block.block7.seven-one 紅或橘色
  .block.block7.seven-two 黑色
  .block.block7.seven-three 黃色或淺藍色
  .block.block7.seven-four 綠色
  .block.block7.seven-five 紫色或深藍色
  .block.block7.seven-six 白色
  .block.block7.seven-seven 棕色或灰色
.test8
  .block.block8.eight-one 歡迎他，與他對話
  .block.block8.eight-two 非常厭惡
  .block.block8.eight-three 在上述兩者之間
.test9
  .block.block9.nine-one 很大聲入場，引起大家注意
  .block.block9.nine-two 安靜入場，找你認識的人
  .block.block9.nine-three 極安靜入場，盡量不引起注意
.test10
  .block.block10.ten-one 類似欣賞的大笑
  .block.block10.ten-two 笑著、聲音不大
  .block.block10.ten-three 輕聲呵呵笑
  .block.block10.ten-four 羞怯的微笑

h1.count hi
.outcome 恭喜，你是
  .final._1
  .final._2
  .final._3
  .final._4
  .final._5
  .final._6
